body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
    background-image: url('https://raw.githubusercontent.com/agbegin/personal-website/main/assets/blink-background.png'); /* Replace with your image URL */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column; /* Change this to 'column' */
}

@media (max-width: 600px) {
  .carousel-indicators {
    font-size: 10px;
  }
  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }
}

.logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 20px; /* Add some space between the logo and the carousel */
    max-width: 150px; /* Adjust the logo size if needed */
}

.carousel-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel {
    position: relative;
    width: 90%;
    max-width: 600px;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Add this to center the content horizontally */
}


img {
    width: 80%;
    max-height: 80vh;
    height: 80%;
    margin: 0 auto;
}

.caption {
    position: relative;
    bottom: unset;
    left: unset; /* Remove the left positioning */
    transform: unset; /* Remove the transform property */
    background-color: transparent;
    color: black;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 5px;
    font-size: 18px;
    max-width: 100%; /* Set the max-width to 100% */
    text-align: center;
    margin-top: -10px;
    font-weight: bold;
    width: 100%; /* Add this line */
}


.carousel-control {
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.carousel-control.prev {
    left: 70px;
    transform: translateY(-50%);
}

.carousel-control.next {
    right: 70px;
    transform: translateY(-50%);
}

.photo-caption-container {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 15px 40px; /* Add 20px padding-top, 15px padding-left and right, 40px padding-bottom */
    box-sizing: border-box;
    width: calc(60% + 30px); /* Add 15px padding to the left and right */
    min-height: 450px; /* Add a minimum height */
    margin-left: auto;
    margin-right: auto;
}

.carousel-indicators {
    position: absolute;
    bottom: 15px; /* Increase the bottom position to move the dots up */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.dot {
    height: 8px;
    width: 8px;
    margin: 0 5px; /* Add some horizontal spacing */
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dot.active {
    background-color: rgba(0, 0, 0, 0.7);
}



