body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
    background-image: url('https://raw.githubusercontent.com/agbegin/personal-website/main/assets/blink-background.png'); /* Replace with your image URL */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.carousel {
    position: relative;
    width: 90%;
    max-width: 600px;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Add this to center the content horizontally */
}


img {
    width: 60%; /* Change this from 100% to 60% */
    height: auto;
    margin: 0 auto; /* Add this to keep the images horizontally centered */
}

.caption {
    position: relative;
    bottom: unset;
    left: unset; /* Remove the left positioning */
    transform: unset; /* Remove the transform property */
    background-color: transparent;
    color: black;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 5px;
    font-size: 18px;
    max-width: 100%; /* Set the max-width to 100% */
    text-align: center;
    margin-top: -20px;
    font-weight: bold;
    width: 100%; /* Add this line */
}


.carousel-control {
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.carousel-control.prev {
    left: 10px;
    transform: translateY(-50%);
}

.carousel-control.next {
    right: 10px;
    transform: translateY(-50%);
}
.photo-caption-container {
    background-color: rgba(128, 128, 128, 0.5); /* Translucent gray background */
    border-radius: 15px; /* 15px border radius */
    overflow: hidden; /* Hide the content that goes beyond the border-radius */
    display: flex; /* Make the container a flexbox */
    flex-direction: column; /* Set the direction of the flexbox to column */
    justify-content: center; /* Center the content vertically */
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top: 15px; /* Add this to add padding to the top */
    padding-bottom: 15px; /* Change this from 30px to 15px */
    box-sizing: border-box; /* Add this to include padding and border in the width calculation */
    margin-left: auto; /* Center the container horizontally */
    margin-right: auto; /* Center the container horizontally */
}




