body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
    background-image: url('https://raw.githubusercontent.com/agbegin/personal-website/main/assets/blink-background.png'); /* Replace with your image URL */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.carousel {
    position: relative;
    width: 90%;
    max-width: 600px;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    text-align: center;
    position: relative;
}

img {
    width: 60%;
    height: auto;
}

.caption {
    position: relative;
    bottom: unset;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: black;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 5px;
    font-size: 18px; /* Increase the text size by 4 points (from 14px to 18px) */
    max-width: 80%;
    text-align: center;
    margin-top: -40px; /* Move the caption text closer to the photos by 40px */
    font-weight: bold; /* Make the caption text bold */
}


.carousel-control {
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.carousel-control.prev {
    left: 10px;
    transform: translateY(-50%);
}

.carousel-control.next {
    right: 10px;
    transform: translateY(-50%);
}
